@{
    ViewBag.Title = "Home Page";
}
<div class="home-hero">
    <picture>
        <img src="~/Images/HOMEPAGE_Hero_Desktop.jpg" />
        <!--[if IE 9]><video style="display: none;"><![endif]
        <source srcset="/-/media/middleatlantic/images/modularcontent/homeheroes/homepage_hero_desktop.ashx" media="(min-width: 1024px)" />
        <source srcset="/-/media/middleatlantic/images/modularcontent/homeheroes/homepage_hero_tablet.ashx" media="(min-width:768px)" /><!--[if IE 9]></video><![endif]
                <img srcset="/-/media/middleatlantic/images/modularcontent/homeheroes/homepage_hero_mobile.ashx" alt="" />    -->
    </picture>


    <div class="container-fluid">
        <div class="home-hero-content">
            <h1>WHAT GREAT SYSTEMS ARE BUILT ON™</h1>
            <h2>Your trusted infrastructure foundation for ultimate system reliability, longevity and performance.</h2>
        </div>
    </div>
</div>



<div class="content">
    <form id="contentForm" method="POST">
        <div class="landing-page-divider" style="box-sizing: content-box; height: 25px; background-color: white; margin-top: 0px; margin-bottom: 0px; padding-top: -100px; padding-bottom: -100px; ">

        </div><div class="landing-page-divider" style="box-sizing: content-box; height: 25px; background-color: white; margin-top: 0px; margin-bottom: 0px; padding-top: -100px; padding-bottom: -100px; ">

        </div>

        <div class="open-html-module">
            <div class="container-fluid" style="padding-bottom: 0;">
                <h3><center>WHAT'S NEW</center></h3>

                &nbsp;

            </div>
        </div>

        <div class="full-screen-photo-carousel" id="full-screen-photo-carousel-d0ba9144-0180-4628-b65e-aa6ef6c7ac15">
            <div class="container-fluid">
                <div class="row">
                    <div class="full-screen-photo-carousel-slide">
                        <img src="~/Images/premiumPDUracklinkbanner.jpg" alt='premiumPDUracklinkbanner' />
                        <div class="full-screen-photo-carousel-overlay">
                            <div>
                                <div class="full-screen-photo-carousel-slide-title">Racklink™ Technology</div>
                                <div class="full-screen-photo-carousel-slide-text">Intelligent power solutions are not created equal. The features, the circuitry, the security and the form factors become key in selecting the platform that meets your AV system needs.</div>
                                <a href='/racklink-technology.aspx' class='full-screen-photo-carousel-slide-link' style='color: #25bfd0'>LEARN MORE</a>
                            </div>
                        </div>
                    </div>
                    <div class="full-screen-photo-carousel-slide">

                        <img src="~/Images/c3credenzawoodfloor-whats-new.jpg" />
                        <div class="full-screen-photo-carousel-overlay">
                            <div>
                                <div class="full-screen-photo-carousel-slide-title">Powering AV</div>
                                <div class="full-screen-photo-carousel-slide-text">&nbsp;</div>
                                <a href='/powering-av.aspx' class='full-screen-photo-carousel-slide-link' style='color: #25bfd0'>LEARN MORE</a>
                            </div>
                        </div>
                    </div>
                    <div class="full-screen-photo-carousel-slide">
                        <img src="~/Images/L7_WhatsNew.jpg" />   <div class="full-screen-photo-carousel-overlay">
                            <div>
                                <div class="full-screen-photo-carousel-slide-title">L7 Series Lectern</div>
                                <div class="full-screen-photo-carousel-slide-text">The Most Elegant Solution in Height Adjustability</div>
                                <a href='/products/technical-furniture/lecterns/l7-series-lecterns-pre-config.aspx' class='full-screen-photo-carousel-slide-link' style='color: #25bfd0'>Check Them Out</a>
                            </div>
                        </div>
                    </div>
                    <div class="full-screen-photo-carousel-slide">
                        <img src="~/Images/L7_WhatsNew.jpg" />
                        <div class="full-screen-photo-carousel-overlay">
                            <div>
                                <div class="full-screen-photo-carousel-slide-title">C3 Series Credenza</div>
                                <div class="full-screen-photo-carousel-slide-text">The NEW 10&rdquo; deep, ADA Compliant C3 Credenza series.</div>
                                <a href='/products/technical-furniture/credenzas/c3-series-pre-configured-credenza.aspx' class='full-screen-photo-carousel-slide-link' style='color: #25bfd0'>LEARN MORE</a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div class="landing-page-divider" style="box-sizing: content-box; height: 25px; background-color: white; margin-top: 0px; margin-bottom: 0px; padding-top: -100px; padding-bottom: -100px; ">

        </div>

        <div class="image-w3-features-module text-above">
            <div class="image-w3-features-module-header-text">
                <h2>EXPLORE</h2>
                <h3><p>&nbsp;</p> <p style="text-align: center;">Find what you need by navigating through our product offering, browsing our application-focused solutions or designing a system tailored to your project specifications.</p></h3>
            </div>
            <div class="image-w3-features-module-inner text-above">
                <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="/-/media/middleatlantic/images/modularcontent/imagew3featuresmodules/home-page/productssolutionsdesign_desktop.ashx" media="(min-width: 895px)" />
                    <source srcset="/-/media/middleatlantic/images/modularcontent/imagew3featuresmodules/home-page/productssolutionsdesign_tablet.ashx" media="(min-width:768px)" /><!--[if IE 9]></video><![endif]-->
                    <img srcset="/-/media/middleatlantic/images/modularcontent/imagew3featuresmodules/home-page/productssolutionsdesign_mobile.ashx" alt="Middle Atlantic Products - Explore Products, Solutions, Design" />
                </picture>

                <div class="container-fluid">
                    <div class="row">
                        <div>
                            <div>
                                <h2>Product Offering</h2>
                                <p>See the trusted infrastructure products that great systems are built on.</p>
                                <a href='/product-categories.aspx' class='homepage-three-module-button '>
                                    <span>Explore Now</span>
                                </a>
                            </div>
                        </div>
                        <div>
                            <div>
                                <h2>SOLUTIONS</h2>
                                <p>Learn how our solutions work together in a range of applications.</p>
                                <a href='/products/market-solutions.aspx' class='homepage-three-module-button '>
                                    <span>Learn Now</span>
                                </a>
                            </div>
                        </div>
                        <div>
                            <div>
                                <h2>DESIGN TOOLS</h2>
                                <p>Design your system exactly as you need it.</p>
                                <a href='/all-ways-to-design.aspx' class='homepage-three-module-button '>
                                    <span>Design Now</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function () {

            });
        </script>
        <div class="landing-page-divider" style="box-sizing: content-box; height: 25px; background-color: white; margin-top: 0px; margin-bottom: 0px; padding-top: -100px; padding-bottom: -100px; ">

        </div><div class="landing-page-divider" style="box-sizing: content-box; height: 25px; background-color: white; margin-top: 0px; margin-bottom: 0px; padding-top: -100px; padding-bottom: -100px; ">

        </div><div class="landing-page-divider" style="box-sizing: content-box; height: 25px; background-color: white; margin-top: 0px; margin-bottom: 0px; padding-top: -100px; padding-bottom: -100px; ">

        </div><div class="landing-page-divider" style="box-sizing: content-box; height: 25px; background-color: white; margin-top: 0px; margin-bottom: 0px; padding-top: -100px; padding-bottom: -100px; ">

        </div><div class="four-block-varied-grid-module" id="four-block-varied-grid-module-45d46757-56b1-4278-af91-e08e26f8ab8d">
            <h3>Tools</h3>

            <div class="container-fluid">
                <div class="four-block-varied-grid-module-photo-grid">
                    <div>

                        <a href="/resources/rsh-lookup.aspx" class="four-block-varied-grid-module-photo four-block-varied-grid-module-photo-1">
                            <picture>
                                <!--[if IE 9]><video style="display: none;"><![endif]-->
                            </picture>
                            <div class="four-block-varied-grid-module-photo-description-under"></div>
                            <div class="four-block-varied-grid-module-photo-description">
                                <div class="four-block-varied-grid-module-photo-description-inner">
                                    <div class="four-block-varied-grid-module-photo-title">
                                        Custom Rackshelf Search
                                    </div>
                                    <div class="four-block-varied-grid-module-photo-links">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="/interactive-feature-guides.aspx" class="four-block-varied-grid-module-photo four-block-varied-grid-module-photo-2">
                            <picture><!--[if IE 9]><video style="display: none;"><![endif]-->
                            </picture>
                            <div class="four-block-varied-grid-module-photo-description-under"></div>
                            <div class="four-block-varied-grid-module-photo-description">
                                <div class="four-block-varied-grid-module-photo-description-inner">
                                    <div class="four-block-varied-grid-module-photo-title">
                                        INTERACTIVE FEATURE GUIDES
                                    </div>
                                    <div class="four-block-varied-grid-module-photo-links">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="/resources/white-papers.aspx" class="four-block-varied-grid-module-photo four-block-varied-grid-module-photo-3">
                            <picture>
                            </picture>
                            <div class="four-block-varied-grid-module-photo-description-under"></div>
                            <div class="four-block-varied-grid-module-photo-description">
                                <div class="four-block-varied-grid-module-photo-description-inner">
                                    <div class="four-block-varied-grid-module-photo-title">
                                        <style>
                                            .four-features-mobile {
                                                margin: 0;
                                            }
                                        </style><p class="four-features-mobile">WHITE Papers and Integration Guides</p>
                                    </div>
                                    <div class="four-block-varied-grid-module-photo-links">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="/resources/technical-drawings.aspx" class="four-block-varied-grid-module-photo four-block-varied-grid-module-photo-4">
                            <picture><!--[if IE 9]><video style="display: none;"><![endif]--></picture>
                            <div class="four-block-varied-grid-module-photo-description-under"></div>
                            <div class="four-block-varied-grid-module-photo-description">
                                <div class="four-block-varied-grid-module-photo-description-inner">
                                    <div class="four-block-varied-grid-module-photo-title">
                                        TECHNICAL Documents
                                    </div>
                                    <div class="four-block-varied-grid-module-photo-links">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div><div class="large-two-column-feature-module container-fluid">
            <div class="large-two-column-feature-module-column">
                <div class="large-two-column-feature-module-column-content">
                    <h2>SUSTAINABILITY</h2>
                    <p>We build sustainability into everything we do, creating lasting value for our customers, our employees, and the world.</p>
                    <a href='https://www.legrand.us/aboutus/sustainability.aspx' class='large-two-column-feature-module-button '>LEARN MORE</a>
                </div>
            </div>
            <div class="large-two-column-feature-module-column">
                <div class="large-two-column-feature-module-column-content">
                    <h2>CAREERS</h2>
                    <p>We don't just attract the boldest, brightest talent out there- we give you the tools you need to become an innovator in your field.</p>
                    <a href='https://www.legrandav.com/about_us/information/careers' class='large-two-column-feature-module-button '>LEARN MORE</a>
                </div>
            </div>
        </div><div class="landing-page-divider" style="box-sizing: content-box; height: 25px; background-color: white; margin-top: 0px; margin-bottom: 0px; padding-top: -100px; padding-bottom: -100px; ">

        </div>
    </form>
</div>
